# https://github.com/probot/settings

branches:
  - name: "master"

    # https://docs.github.com/en/rest/reference/repos#delete-branch-protection
    # https://docs.github.com/en/rest/reference/repos#update-branch-protection

    protection:
      enforce_admins: false
      required_pull_request_reviews:
        dismiss_stale_reviews: true
        require_code_owner_reviews: true
        required_approving_review_count: 1
      required_status_checks:
        checks:
          - context: "Coding Standards (8.2, locked)"
          - context: "Dependency Analysis (8.2, locked)"
          - context: "Static Code Analysis (8.2, locked)"
          - context: "Tests (8.2, locked)"
          - context: "Tests (8.2, lowest)"
          - context: "Tests (8.3, locked)"
          - context: "Tests (8.3, lowest)"
          - context: "Tests (8.4, locked)"
          - context: "Tests (8.4, lowest)"
        strict: false
      restrictions: null

# https://docs.github.com/en/rest/reference/issues#create-a-label
# https://docs.github.com/en/rest/reference/issues#update-a-label

labels:
  - name: "bug"
    color: "ee0701"
    description: ""

  - name: "dependency"
    color: "0366d6"
    description: ""

  - name: "enhancement"
    color: "0e8a16"
    description: ""

  - name: "question"
    color: "cc317c"
    description: ""

  - name: "security"
    color: "ee0701"
    description: ""

  - name: "stale"
    color: "eeeeee"
    description: ""

# https://docs.github.com/en/rest/reference/repos#update-a-repository

repository:
  allow_merge_commit: true
  allow_rebase_merge: false
  allow_squash_merge: false
  archived: false
  default_branch: "master"
  delete_branch_on_merge: true
  description: "Let Psalm understand better psr11 containers"
  has_downloads: true
  has_issues: true
  has_pages: false
  has_projects: false
  has_wiki: false
  name: "psalm-psr-container-plugin"
  private: false

  # https://docs.github.com/en/rest/reference/repos#replace-all-repository-topics

  topics: "psalm, plugin, psr, psr11, container"
