<?xml version="1.0"?>
<ruleset
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd"
>
    <arg name="cache" value=".build/php_codesniffer/phpcs-cache"/>

    <rule ref="Doctrine">
        <exclude name="Squiz.NamingConventions.ValidVariableName.NotCamelCaps"/>
    </rule>
    <rule ref="SlevomatCodingStandard.TypeHints.PropertyTypeHint">
        <exclude name="SlevomatCodingStandard.TypeHints.PropertyTypeHint.MissingNativeTypeHint"/>
    </rule>

    <file>src/</file>
    <file>test/</file>

    <exclude-pattern>test/_support/_generated</exclude-pattern>
</ruleset>
